In [22]:
import pandas as pd
import numpy as np
import random

import os

In [20]:
filename="bigdatita/Bicicletas/data.csv"
df=pd.read_csv("bigdatita/Bicicletas/data.csv",nrows=300000)
df.head()

,trip_id,year,month,week,day,hour,usertype,gender,starttime,stoptime,...,from_station_id,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_id,to_station_name,latitude_end,longitude_end,dpcapacity_end
0,2355134,2014,6,27,0,23,Subscriber,Male,2014-06-30 23:57:00,2014-07-01 00:07:00,...,131,Lincoln Ave & Belmont Ave,41.939365,-87.668385,15.0,303,Broadway & Cornelia Ave,41.945512,-87.645980,15.0
1,2355133,2014,6,27,0,23,Subscriber,Male,2014-06-30 23:56:00,2014-07-01 00:00:00,...,282,Halsted St & Maxwell St,41.864580,-87.646930,15.0,22,May St & Taylor St,41.869482,-87.655486,15.0
2,2355130,2014,6,27,0,23,Subscriber,Male,2014-06-30 23:33:00,2014-06-30 23:35:00,...,327,Sheffield Ave & Webster Ave,41.921687,-87.653714,19.0,225,Halsted St & Dickens Ave,41.919936,-87.648830,15.0
3,2355129,2014,6,27,0,23,Subscriber,Female,2014-06-30 23:26:00,2014-07-01 00:24:00,...,134,Peoria St & Jackson Blvd,41.877749,-87.649633,19.0,194,State St & Wacker Dr,41.887155,-87.627750,11.0
4,2355128,2014,6,27,0,23,Subscriber,Female,2014-06-30 23:16:00,2014-06-30 23:26:00,...,320,Loomis St & Lexington St,41.872187,-87.661501,15.0,134,Peoria St & Jackson Blvd,41.877749,-87.649633,19.0

In [19]:
df.to_csv("bigdatita/Bicicletas/PrimerasFilas.csv",index=False)

In [24]:
n=9495236-1
s = 10000 #desired sample size
skip = sorted(random.sample(range(1,n+1),n-s) ) #the 0-indexed header will not be included in the skip list
df = pd.read_csv(filename, skiprows=skip)

In [41]:
df.to_csv("bigdatita/Bicicletas/muestra.csv",index=False)

In [42]:
pd.read_csv("bigdatita/Bicicletas/muestra.csv")

,trip_id,year,month,week,day,hour,usertype,gender,starttime,stoptime,...,from_station_id,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_id,to_station_name,latitude_end,longitude_end,dpcapacity_end
0,2351275,2014,6,27,0,16,Subscriber,Female,2014-06-30 16:41:00,2014-06-30 17:00:00,...,337,Clark St & Chicago Ave,41.896544,-87.630931,19.0,175,Wells St & Polk St,41.872373,-87.633523,19.0
1,2350992,2014,6,27,0,16,Subscriber,Male,2014-06-30 16:30:00,2014-06-30 16:36:00,...,140,Dearborn Pkwy & Delaware Pl,41.899007,-87.629928,19.0,212,Wells St & Hubbard St,41.889933,-87.634262,31.0
2,2350632,2014,6,27,0,16,Subscriber,Male,2014-06-30 16:09:00,2014-06-30 16:19:00,...,23,Orleans St & Elm St,41.902924,-87.637715,15.0,94,Clark St & Armitage Ave,41.918306,-87.636282,19.0
3,2348720,2014,6,27,0,13,Subscriber,Male,2014-06-30 13:43:00,2014-06-30 13:52:00,...,47,State St & Kinzie St,41.889180,-87.627700,19.0,287,Franklin St & Arcade Pl,41.881469,-87.635177,27.0
4,2348148,2014,6,27,0,12,Subscriber,Male,2014-06-30 12:54:00,2014-06-30 12:57:00,...,210,Ashland Ave & Division St,41.903448,-87.669313,19.0,61,Wood St & Milwaukee Ave,41.907655,-87.672552,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,16737337,2017,10,39,6,11,Subscriber,Male,2017-10-01 11:39:00,2017-10-01 11:41:00,...,291,Wells St & Evergreen Ave,41.906724,-87.634830,19.0,289,Wells St & Concord Ln,41.912133,-87.634656,19.0
9996,16737035,2017,10,39,6,11,Subscriber,Female,2017-10-01 11:23:00,2017-10-01 11:33:00,...,237,MLK Jr Dr & 29th St,41.842052,-87.617000,15.0,132,Wentworth Ave & 24th St,41.849237,-87.631715,15.0
9997,16736342,2017,10,39,6,10,Subscriber,Female,2017-10-01 10:45:00,2017-10-01 11:00:00,...,330,Lincoln Ave & Addison St,41.946176,-87.673308,19.0,231,Sheridan Rd & Montrose Ave,41.961670,-87.654640,23.0
9998,16735727,2017,10,39,6,10,Subscriber,Male,2017-10-01 10:01:00,2017-10-01 10:05:00,...,114,Sheffield Ave & Waveland Ave,41.949399,-87.654529,27.0,227,Southport Ave & Waveland Ave,41.948150,-87.663940,23.0
9999,16734344,2017,10,39,6,2,Subscriber,Male,2017-10-01 02:17:00,2017-10-01 02:24:00,...,231,Sheridan Rd & Montrose Ave,41.961670,-87.654640,23.0,325,Clark St & Winnemac Ave,41.973345,-87.667682,19.0